.join-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    align-self: flex-end;
    margin-top: 10px;
}

.join-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.message-btn{
    margin: 5px;
    background-color: rgb(186, 38, 38);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    align-self: flex-end;
    margin-top: 10px;  
}