
.liked-posts-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:5px;
  
  margin-top: 50px;
}

.post-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.author {
  font-weight: bold;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-button {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.like-button:hover {
  background-color: #e0e0e0;
}
